:root {
    --primary: #008DD9;

    /* navbar */
    --navbar-tx-color: #5F5E5E;
    --bg-navbar: #ffff;
    --navbar-tx-size: 14px;
    --w-logo: 200px;

    
    /* image */
    --headline-size: 100%;
    --mini-headline: 60%;
    --mini-img: 30%;
    --img-fill: linear-gradient(transparent, #000);
    --radius: 20px;

    /* text */
    --size-1: 48px;
    --size-2: 36px;
    --size-3: 32px;
    --size-4: 24px;
    --size-5: 20px;
    --size-6: 16px;
    --color-1: #EBEBEB;
    --color-2: #CBCBCB;


    --card-fill: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}

body {
    font-family: poppins;
    background-color: var(--color-1);
}

main {
    width: 70%;
    margin: auto;
    background-color: white;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-navbar);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
    padding: 1.3rem 2rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    font-size: var(--navbar-tx-size);
    color: var(--navbar-tx-color);
    transition: all .5s ease;
}

nav ul li:hover, nav i:hover {
    cursor: pointer;
    opacity: .5;
}

/* header */
header {
    width: 100%;
    background-image: url("https://cdn1-production-images-kly.akamaized.net/ZtbieSf_tfohEajyjflP7DnFf8k=/640x360/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/4893163/original/083011800_1721126896-FB_IMG_1675646868415.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

header::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: var(--img-fill);
    position: absolute;
}

header .info {
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: var(--color-1);
}

header a {
    margin-left: 10px;
}

header a:hover, .mini-headline .info h2 a:hover {
    text-decoration: underline;
}

header p, header a {
    font-size: var(--size-6);
    color: var(--color-2);
    text-decoration: none;
}

main {
    padding-bottom: 200px;
}

/* mini-headline-card */
main .mini-headline-card {
    display: flex;
    padding: 1rem .8rem;
    gap: 1.5rem;
}

main .mini-headline-card .topik-populer {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

main .mini-headline-card .topik-populer h4 {
    color: var(--primary);
    font-size: var(--size-5);
}

main .mini-headline-card .topik-populer ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: .8rem;
}

main .mini-headline-card .topik-populer ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: var(--size-6);
    border-bottom: 1px solid var(--color-2);
    padding-bottom: .5rem;
    color: #444444;
    font-weight: bolder;
}

main .mini-headline-card .topik-populer ul li span {
    color: var(--primary);
}


/* mini-headline */
main .mini-headline {
    border-radius: 20px;
    padding: 20px;
    background-image: url('https://cdn1-production-images-kly.akamaized.net/0wWX6v2VrLm9X3XlZsKMsnvADNA=/640x360/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/4166753/original/096704000_1663802133-Harga_Minyak_Dunia_2.jpg');
    width: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
}

main .mini-headline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-image: var(--img-fill);
}

main .mini-headline .info {
    position: absolute;
    bottom: 1rem;
    color: var(--color-1);
}

main .mini-headline .info h2 {
    font-size: var(--size-5);
}

main .mini-headline .info p, main .mini-headline .info h2 a {
    font-size: 14px;
    font-weight: bolder;
    color: var(--color-2);
    text-decoration: none;
}

/* berita utama lainnya */
main .berita-utama {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem ;
    padding: 1rem;
    justify-content: center;
}

main .berita-utama h4 {
    font-size: var(--size-5);
    margin-left: 1rem;
}

main .berita-utama .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    border-radius: 20px;
    padding: 1rem 0;
    gap: 1rem;
}

main .berita-utama .cards .caret {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

main .berita-utama .cards .caret i:hover {
    color: #000;
}

main .berita-utama .cards .caret i {
    color: var(--primary);
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .4s ease;
}

main .berita-utama .cards::before {
    border-radius: 20px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--card-fill);
}

main .berita-utama .cards .card {
    width: 30%;
}

main .berita-utama .cards .card img {
    width: 100%;
    border-radius: 20px;
}

main .berita-utama .cards .card .info p {
    font-size: 10px;
    color: #777;
    font-weight: bold;
    margin: .4rem 0;
}